<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.if_iv">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IfIv">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prubasFechas"
            android:exported="false" />
        <activity
            android:name=".Interfaz.JuegoMain"
            android:exported="false" />
        <activity
            android:name=".Interfaz.MinijuegosMain"
            android:exported="false" />
        <activity
            android:name=".Interfaz.PersonajesMain"
            android:exported="false" />
        <activity
            android:name=".Interfaz.CapitulosMain"
            android:exported="false" />

        <activity
            android:name=".Minijuegos.CofresMinijuego"
            android:exported="false" />
        <activity
            android:name=".Minijuegos.CartasMinijuego"
            android:exported="false" />
        <activity
            android:name=".Minijuegos.CasinoMinijuego"
            android:exported="false" />
        <activity
            android:name=".Minijuegos.PreguntasMinijuego"
            android:exported="false" />

    </application>

</manifest>